@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&family=Noto+Sans&family=Prompt:wght@400;700&display=swap");

:root {
  --maincolor: #ffff;
  --backthame: #383636;
  --backgroundmain: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Lato", sans-serif;
  font-family: "Noto Sans", sans-serif;
  font-family: "Prompt", sans-serif;
  background-color: var(--backgroundmain);
  position: relative;
}
/* nav {
  background-color: #ffffff;
} */
.navbar {
  background-color: var(--maincolor);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  top: 0;
  /* position: fixed; */
  /* border-bottom: 1px solid #d1d1d1; */
}
.navbar a {
  padding: 10px;
  text-decoration: none;
  color: #000;
}
.leftnavBar {
  gap: 6px;
  display: flex;
  align-items: center;
}

.rigthnavBar {
  display: flex;
  align-items: center;
  gap: 6px;
}
.iconic {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
/*nav toggle*/
.nav-toggle {
  display: none;
}
/*Secon Navbar*/
.Scnav {
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  margin-bottom: 0;
  background-color: var(--backthame);
  position: sticky;
}

.bnnavbar {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 16px;
  padding: 10px;
  color: var(--maincolor);
  margin: 0 50px 0 50px;
}

/*main*/
section {
  margin-bottom: 80px;
}
.Maincontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 0 50px 30px 50px;
  /* margin: auto; */
}

.Maincontent h1 {
  margin: 30px 10px 30px 10px;
}
.carditem {
  background-color: var(--maincolor);
  box-shadow: 3px 8px 8px -1px rgba(0, 0, 0, 0.75);
  width: 25%;
}
.carditem h3 {
  text-align: center;
}
.imagcard img {
  width: 100%;
}

.carditem:hover {
  transition: 0.6s;
  box-shadow: 3px 2px 10px 8px rgba(0, 0, 0, 0.55);
}
.mainproduct {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 1086px;
  width: 100%;
}
.deteil-item {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.deteil-item p {
  padding: 10px;
}

/* button shop now */
.btn {
  position: relative;
  text-decoration: none;
}
.btn p:hover {
  color: red;
}

.btn p {
  color: #000;
}
.nextscroll {
  position: absolute;
  left: 90px;
  top: 15px;
}
.nextscroll:hover {
  transition: 0.2s;
  left: 120px;
}

@media (max-width: 1080px) {
  .Maincontent {
    display: flex;
    flex-wrap: wrap;
  }
  .mainproduct {
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    /* display: flex; */
    flex-wrap: wrap;
    justify-content: center;
  }
  .carditem {
    width: 340px;
  }
}

@media screen and (max-width: 748px) {
  .nav-toggle {
    display: flex;
  }
  .rigthnavBar {
    display: none;
  }
  .leftnavBar a {
    display: none;
  }
  .mainproduct {
    display: flex;
    justify-content: center;
    /* display: grid;
    grid-template-columns: 1fr; */
  }
  .carditem {
    width: 100%;
    max-width: 480px;
    width: 100%;
  }
}
